#root {
  margin: 0;
  text-align: center;
}

.siteDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--rpoverlay);
  position: relative;
  border-radius: 20px;
  border: 5px solid var(--rpsurface);
  margin: 2em;
  color: var(--rptext);
}

.aboutUs {
  padding: 50px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.profileCard {
  border: 7px solid var(--rpsurface);
  flex: 1 1 300px;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
  background: var(--rpoverlay);
  color: var(--rptext);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}

.avatar {
  border: 5px solid var(--rpsurface);
  border-radius: 20px;
}

