:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --rpbase: #191724;
  --rpsurface: #1f1d2e;
  --rpoverlay: #26233a;
  --rpmuted: #6e6a86;
  --rpsubtle: #908caa;
  --rptext: #e0def4;
  --rplove: #eb6f92;
  --rpgold: #f6c177;
  --rprose: #ebbcba;
  --rppine: #31748f;
  --rpfoam: #9ccfd8;
  --rpiris: #c4a7e7;
  --rphlow: #21202e;
  --rphmed: #403d52;
  --rphhigh: #524f67;

  color: var(--rptext);
  background-color: var(--rpbase);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
