#root {
  margin: 0;
  text-align: center;
}

.loginCard {
  margin: auto;
  margin-top: 8%;
  padding: 0.5em;
  width: 65%;
  height: 45ch;
  background-color: rgb(from var(--rpoverlay) r g b / 90%);
  border-radius: 1em;
}

.loginTitle {
  font-size: 2.5rem;
  color: var(--rptext);
}

.loginForm {
  margin: 2em;
  text-align: left;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.inputLabel {
  font-size: 1.2em;
  margin: 0px;
  color: var(--rptext);
}

.inputBox {
  width: 100%;
  border: none;
  border-bottom: 3px solid var(--rpmuted);
  font-size: 14px;
  background: transparent;
  color: var(--rptext);
  font-size: 1em;
}

.inputBox:focus {
  outline: none;
  border-bottom: 3px solid var(--rppine);
}

.formButton {
  width: 50%;
  height: 45px;
  margin: 2em 1em 2em 1em;
  background-color: var(--rpiris);
  border-radius: 1em;
}
