#root {
  margin: 0;
  text-align: center;
}

.loginCard {
  margin: auto;
  margin-top: 8%;
  padding: 0.5em;
  width: 70%;
  height: 45ch;
  background-color: rgb(from var(--rpoverlay) r g b / 90%);
  border-radius: 1em;
}

.loginTitle {
  font-size: 2.5rem;
  margin: 0.5em 0.5em 2em 0.5em;
  color: var(--rptext);
}

.loginForm {
  margin: 2em;
  padding: 0em 1em 0em 1em;
  text-align: left;
  display: grid;
  gap: 0.5ch;
}

.inputLabel {
  padding-left: 5px;
  font-size: 1.2em;
  color: var(--rptext);
}

.inputBox {
  width: 100%;
  padding: 10px;
  padding-top: 0px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 3px solid var(--rpmuted);
  font-size: 14px;
  background: transparent;
  color: var(--rptext);
  font-size: 1em;
}

.inputBox:focus {
  outline: none;
  border-bottom: 3px solid var(--rppine);
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0em 0.5em 0em 0.5em;
}

.formButton {
  width: 50%;
  height: 45px;
  margin: 2em 1em 2em 1em;
  background-color: var(--rpiris);
  border-radius: 1em;
}
