* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tabbox {
  display: grid;
  grid-template-rows: 1fr 4fr;
  gap: 5px;
  border-radius: 0.5em;
  border-width: 0px;
  border-color: transparent;
  overflow: hidden;
  padding: 0.2em;
  width: 100%;
  height: 100%;
}

.options {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 0.5em;
}

.accButtons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.tabs {
  display: flex;
  flex-direction: row;
  overflow: auto;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.tabcontent {
  padding: 0em;
}

.tabTitle {
  width: 100%;
  color: var(--rpmuted);
}

.selectedTabTitle {
  width: 100%;
  color: var(--rppine);
  border-bottom: 3px solid var(--rppine);
}

.infocard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 10fr 2fr 14fr;
  padding: 2vh;
  gap: 2vh;
}

.greeter {
  padding: 3% 3%;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  text-align: left;
  display: grid;
  grid-template-rows: 2fr auto;
  gap: 2%;
}

.welcome {
  font-size: 2em;
  color: var(--rpiris);
  .username {
    color: var(--rppine);
  }
}

.info {
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0 0.5em;
  .numProj {
    color: var(--rppine);
  }
}

.settings {
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  text-align: left;
  padding: 1em;
}

.infoHeader {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-start;
  .infoTitle {
    color: var(--rpfoam);
    margin: 0;
    padding: 0;
  }
  .infoDesc {
    margin-bottom: 1%;
    margin-left: 2%;
    color: var(--rpmuted);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.projectOptions {
  margin-top: 0.5em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.newprojectOptions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5em;
  margin-top: 0.5em;
  align-items: end;
  margin-top: 1em;
}

.search {
  grid-column: span 2;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectlist {
  grid-column: span 2;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.pinputBox {
  width: 100%;
  border: none;
  border-bottom: 3px solid var(--rpmuted);
  font-size: 14px;
  background: transparent;
  color: var(--rptext);
  font-size: 1em;
}

.pinputBox:focus {
  outline: none;
  border-bottom: 3px solid var(--rppine);
}

.pformButton {
  width: auto;
  height: auto;
  padding: 0.3em;
  margin: 1em;
  background-color: var(--rpiris);
  border-radius: 0.3em;
  margin-left: 1em;
  margin-top: 1em;
}

.logoutButton {
  height: auto;
  width: 10ch;
  padding: 0.3em;
  background-color: var(--rpiris);
  border-radius: 0.3em;
  margin-right: 0.5em;
}

.delButton {
  height: auto;
  width: 15ch;
  padding: 0.3em;
  background-color: rgb(218, 55, 60);
  border-color: rgb(218, 55, 60);
  color: var(--rptext);
  border-radius: 0.3em;
}

.projectElement {
  background-color: rgb(from var(--rpsubtle) r g b / 20%);
  display: grid;
  grid-template-columns: 1fr 7fr 4fr;
  text-align: left;
  border-radius: 1em;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.2em;
}

.projectTitle {
  font-size: 1em;
  color: var(--rprose);
  margin-left: 1em;
}

.projectId {
  color: var(--rpmuted);
}
