#root {
  padding: 0px;
}

.infocard {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.greeter {
  height: 15ch;
  width: 50ch;
  margin: 1em;
  padding: 0.5em 1em;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  flex-grow: 0;
  text-align: left;
}

.welcome {
  font-size: 2em;
  color: var(--rpiris);
  margin-bottom: 0em;
  margin-left: 1rem;
}

.username {
  color: var(--rppine);
}

.info {
  font-size: 1em;
  margin-left: 1em;
}

.numProj {
  color: var(--rppine);
}

.settings {
  margin: 1em 2em 1em 0.5em;
  padding: 0.25em 1em;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  flex-grow: 3;
  text-align: left;
}

.project_title {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: var(--rpiris);
}

.project_desc {
  font-weight: italic;
  margin-top: 0;
  color: rgb(from var(--rptext) r g b / 70%);
}

.search {
  margin: 0.5em 1em 1em 1em;
  padding: 0.5em;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  height: 4ch;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectlist {
  margin: 0.5em 1em 1em 1em;
  height: 40ch;
  padding: 0.5em;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.pinputBox {
  width: 100%;
  border: none;
  border-bottom: 3px solid var(--rpmuted);
  font-size: 14px;
  background: transparent;
  color: var(--rptext);
  font-size: 1em;
  margin-left: 1em;
}

.pinputBox:focus {
  outline: none;
  border-bottom: 3px solid var(--rppine);
}

.pformButton {
  width: auto;
  height: auto;
  padding: 0.3em;
  margin: 1em;
  background-color: var(--rpiris);
  border-radius: 0.3em;
  margin-left: 1em;
  margin-top: 1em;
}

.pformBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.projectElement {
  background-color: rgb(from var(--rpsubtle) r g b / 20%);
  display: grid;
  grid-template-columns: 1fr 7fr 4fr;
  text-align: left;
  border-radius: 1em;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.2em;
}

.projectTitle {
  font-size: 1em;
  color: var(--rprose);
  margin-left: 1em;
}

.projectId {
  color: var(--rpmuted);
}
