#root {
  padding: 0px;
}

.infocard {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.greeter {
  height: 20ch;
  width: 50ch;
  margin: 1em;
  padding: 0.5em 1em;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  flex-grow: 0;
  text-align: left;
}

.welcome {
  font-size: 2em;
  color: var(--rpiris);
  margin-bottom: 0em;
}

.username {
  color: var(--rppine);
}

.info {
  font-size: 1em;
  margin-left: 0.5em;
}

.numProj {
  color: var(--rppine);
}

.settings {
  margin: 1em 2em 1em 0.5em;
  padding: 0.25em 1em;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  flex-grow: 3;
}

.project_title {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: var(--rpiris);
}

.project_desc {
  font-weight: italic;
  margin-top: 0;
  color: rgb(from var(--rptext) r g b / 70%);
}

.search {
  margin: 0.5em 1em 1em 1em;
  padding: 0.5em;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
  height: 4ch;
}

.projectlist {
  margin: 0.5em 1em 1em 1em;
  height: 35ch;
  padding: 0.5em;
  background-color: rgb(from var(--rpoverlay) r g b / 70%);
  border-radius: 1em;
}
