#root {
  margin: 0;
  text-align: center;
}

.registerCard {
  margin: auto;
  margin-top: 2%;
  padding: 0.5em;
  width: 60%;
  height: 65ch;
  background-color: rgb(from var(--rpoverlay) r g b / 90%);
  border-radius: 1em;
}

.registerTitle {
  font-size: 2.5rem;
  margin: 0.5em 0.5em 2em 0.5em;
  color: var(--rptext);
}

.grid-col-span-full {
  grid-column: span 2;
}

.registerForm {
  margin: 2em;
  padding: 0em 1em 0em 1em;
  text-align: left;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 45ch;
}

.inputLabel {
  padding-left: 5px;
  font-size: 1.2em;
  color: var(--rptext);
}

.inputBox {
  width: 100%;
  padding: 0px;
  margin: 1em 0px 0px 0px;
  border: none;
  border-bottom: 3px solid var(--rpmuted);
  font-size: 14px;
  background: transparent;
  color: var(--rptext);
  font-size: 1em;
}

.inputBox:focus {
  outline: none;
  border-bottom: 3px solid var(--rppine);
}

.formButton {
  width: 100%;
  height: 45px;
  background-color: var(--rpiris);
  border-radius: 1em;
  margin: 0.2em;
  margin-top: 2em;
}
