* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.workspace {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 2fr 4fr 4fr;
  gap: 2vh;
  padding: 1em;
}

.card {
  background-color: var(--rpoverlay);
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

.heading {
  grid-column: span 1;
  text-align: left;
  padding: 0.5em;
  .headline {
    display: flex;
    flex-direction: row;
    align-items: end;
    .title {
      color: var(--rpiris);
      margin-right: 0.2em;
    }
    .doc {
      color: var(--rpmuted);
    }
  }

  .desc {
    max-width: 70ch;
    color: car(--rptext);
    padding: 1em 0.5em;
  }
}

.todo {
  grid-row: span 2;
}

.chat {
  grid-row: span 2;
}
